<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
">
	<!-- 指定数据源属性文件配置 -->
	<context:property-placeholder location="/WEB-INF/db.properties" />
	<!-- 配置myBatis的SessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:org/jxkh/mybatis/config/mybatisconfig.xml" />
		<property name="mapperLocations"
			value="classpath*:org/jxkh/mybatis/config/mappers/**/*.xml" />
	</bean>
	<!-- 上传文件解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- 注解支持 -->
	<context:annotation-config />

	<!-- 开发的Oracle11g数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver" p:url="jdbc:oracle:thin:@127.0.0.1:1521:tongde"
		p:username="tongde" p:password="tongde123" />


	<!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
		p:driverClassName="oracle.jdbc.driver.OracleDriver" p:url="jdbc:oracle:thin:@76.68.16.18:1521:ytdps2" 
		p:username="yt_aggr" p:password="yt_aggr123" /> -->

	<!-- 配置数据源bean <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" 
		p:jndiName="KF158" /> -->
	<!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" 
		p:jndiName="YTDPSRAC" /> -->


	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- 配置myBatis的自动扫描，使用映射接口 自动生成接口实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:sqlSessionFactory-ref="sqlSessionFactory" p:basePackage="org.jxkh" />
	<!--配置Spring注解式事物 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 定义统一的异常处理类 -->
	<!-- <bean id="exceptionHandler" class="org.jxkh.exception.MyExceptionHandler"/> -->
	<bean id="configInfo" class="org.jxkh.util.ConfigInfo"
		p:htmlUrlForImage="/res/repository/portal/" p:realPhyPathForImage="/WEB-INF/resource/repository/portal/"
		p:realPhyPathForTpl="/WEB-INF/resource/repository/portal/templates/"
		p:htmlUrlForTpl="/res/repository/portal/templates/" p:htmlUrlForArt="/res/repository/portal/art/"
		p:realPhyPathForArt="/WEB-INF/resource/repository/portal/art/"
		p:htmlUrlForCol="/res/repository/portal/col/" p:realPhyPathForCol="/WEB-INF/resource/repository/portal/col/"
		p:rightListPath="/WEB-INF/resource/repository/portal/common/"
		p:pageSize="20" p:topicTopNum="5" p:unitName="烟台XXXXX">
	</bean>
	<tx:annotation-driven />

</beans>
