@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
html{ height:100%}
body{ height:100%; background:#2c76c0 url(../images/bg.jpg) center top no-repeat; font-family:"微软雅黑","宋体"; min-width:900px; font-size:12px}
a{ color:#333; text-decoration:none}
a:hover{ color:#06C}

.ding{ width:100%; height:45px; background:#123d67; }
.ding h1{ font-size:22px; line-height:45px; font-weight:bolder; color:#FFF; float:left; padding-left:20px; float:left}
.ding .xinxi{ font-size:14px; line-height:45px; color:#FFF; float:right; padding:0px 20px 0px 5px; width:650px;}
.ding .xinxi .text{ float:left;width:500px;text-align: right;}
.ding .xinxi .top_cz{ float:right; width:80px;}
.ding .xinxi .top_cz a{ width:16px; height:16px; padding:14px 14px 15px; text-align:center; display:inline-block}

.biaoyu{ width:100%; height:100px; background:url(../images/biaoyu.png) center center no-repeat}
.caozuo{ width:325px; height:39px; margin:0 auto; padding:0 0 15px}
.caozuo a.fyj{ width:38px; height:38px; display:inline-block; float:left;  background:url(../images/fayoujian.png) left top no-repeat; margin-right:16px;}
.caozuo a.fyj:hover{ background:url(../images/fayoujian.png) left bottom no-repeat}
.caozuo a.sx{ width:38px; height:38px; display:inline-block; background:url(../images/shuaxin.png) left top no-repeat; float:right}
.caozuo a.sx:hover{ background:url(../images/shuaxin.png) left bottom no-repeat}
.caozuo .sousuo{ width:216px; height:39px; padding-left:10px; background:url(../images/img_22.png) no-repeat; float:left}
.caozuo .sousuo .wb{ width:166px; height:39px; border:none; line-height:35px; background:none; float:left}
.caozuo .sousuo .tj{ width:39px; height:39px; display:block; float:left}

.tongzhi_ck{ width:60%; height:348px; position:absolute; left:50%; margin-left:-30%; top:50%; margin-top:-139px; border:2px solid #123e68; background:#FFF;}
.tongzhi_ck .title{ height:38px; padding-left:20px; background:#11c0e9; line-height:38px;}
.tongzhi_ck .title h2{ float:left; font-size:18px; font-weight:bolder; color:#FFF;}
.tongzhi_ck .title a.shuaxin{ width:38px; height:38px;float:left; background:url(../images/refresh.png) center center no-repeat}
.tongzhi_ck .title a.gengduo{ width:60px; height:22px;  font-size:14px;  color:#FFF; float:right}

.tcbox{}
.tcbox table{ line-height:30px;table-layout: fixed;}
.tcbox th{ background:#e7f4ff; border-bottom:1px solid #09C; border-right:1px solid #99CAE3}
.tcbox tr{ text-align:center}
.tcbox tr td.biaoti{ text-align:left; padding-left:15px }
.tcbox tr.jianse td{ background:#f9f9f9}
.tcbox tr:hover td{ background:#f3f3f3}
.tcbox tr td{border-bottom:1px solid #CCC; height:30px; overflow:hidden;word-break: keep-all;white-space:nowrap;text-overflow: ellipsis;overflow: hidden; }
.tcbox tr td.zt{ width:30px;background:url(../images/mail24aa782.png) 6px 10px no-repeat; background-color:none}
.tcbox tr.weidu{ font-weight:bolder}
.tcbox tr.weidu td.zt{ background:url(../images/mail24aa78.png) 6px 10px no-repeat}

table.cz tr td{ height:40px; line-height:40px;}
table.cz tr:hover td{ background:none}
table.cz tr td a{ color:#06C}
table.cz tr td a.shanchu{ width:60px; height:25px; line-height:25px; display:inline-block; background:#f7f7f7; text-align:center; border:1px solid #CCC; margin-left:15px; margin-top:5px; color:#333}
table.cz tr td a.shanchu:hover{ background:#CCC}


.tcbox .lj{ padding:20px;}
.tcbox .lj ul{ height:300px;}
.tcbox .lj li{ width:100px; height:120px; float:left; list-style:none}
.tcbox .lj li a{ width:100px;display:block; text-align:center; padding-top:65px;}
.tcbox .lj li a span{ line-height:25px; text-align:center; font-weight:bolder;}
.tcbox .lj li a.ywbg{ background:url(../images/lj/lj_15.png) top  center no-repeat}
.tcbox .lj li a.wp{ background:url(../images/lj/lj_16.png) top  center no-repeat}
.tcbox .lj li a.sqyx{ background:url(../images/lj/lj_17.png) top  center no-repeat}
.tcbox .lj li a.txl{ background:url(../images/lj/lj_18.png) top  center no-repeat}

.tcbox .lj li a.ywbg{ background:url(../images/lj/lj_15.png) top  center no-repeat}
.tcbox .lj li a.wp{ background:url(../images/lj/lj_16.png) top  center no-repeat}
.tcbox .lj li a.sqyx{ background:url(../images/lj/lj_17.png) top  center no-repeat}
.tcbox .lj li a.txl{ background:url(../images/lj/lj_18.png) top  center no-repeat}
.tcbox .lj li a.szrs{ background:url(../images/lj/szrs.png) top  center no-repeat}
.tcbox .lj li a.klxxpt{ background:url(../images/lj/klxxpt.png) top  center no-repeat}
.tcbox .lj li a.sjyj{ background:url(../images/lj/sjyj.png) top  center no-repeat}



.menu{ width:670px; height:49px; background:url(../images/menu.png) no-repeat; position:fixed; position:absolute; bottom:15px; left:50%; margin-left:-335px; text-align:center}
.menu a{ width:100px; height:102px; margin:0 10px; display:inline-block; border:none; margin-top:-50px; position:relative}
.menu a.tongzhi{ background:url(../images/img_34.png)}
.menu a.tongzhi:hover{ background:url(../images/img_46.png)}
.menu a.daiban{ background:url(../images/img_36.png)}
.menu a.daiban:hover{ background:url(../images/img_47.png)}
.menu a.youjian{ background:url(../images/img_38.png)}
.menu a.youjian:hover{ background:url(../images/img_48.png)}
.menu a.lianjie{ background:url(../images/img_40.png)}
.menu a.lianjie:hover{ background:url(../images/img_49.png)}

.menu a span{ width:21px; height:21px; background:url(../images/tishi.png) no-repeat; text-align:center; color:#FFF; position:absolute; top:-10px; left:60px}




.tc{ background:#FFF; }
.tc .neirong{position:relative; padding-bottom:20px}
.tc .title{ width:100%; height:80px; padding-top:20px; border-bottom:2px solid #CCC; text-align:center; position:absolute; top:0; position:fixed; background:#fff}
.tc .title h3{ font-size:28px; line-height:40px; text-align:center;}
.tc .title .xxy{ font-size:14px; color:#666; line-height:30px;}
.tc .title .xxy span{ padding:0 5px}

.tc .neirong .box{ padding:120px 50px 20px; font-size:14px; line-height:28px;height:400px;overflow: auto;}
.tc .neirong .box p{ padding:5px 0; text-indent:28px}

.fj{ margin:10px 50px; padding-bottom:10px; background:#B8E8FC}
.fj_tit{ height:35px; line-height:35px; padding-left:20px; font-size:14px; font-weight:bolder;}
.fj_box{ margin:0 10px 0; background:#fff; line-height:25px; padding:10px 15px 10px}
.fj_box a{ font-weight:bolder; color:#06C}